/* классы стилей*/

frameset.brief {
	background-image:url(фон.jpg);
	background-position: top; 
	background-repewat: no-repeat;	
}

div.myIndent {
	font-size: 14pt; 	 
	color: black; 
	font-family: "Arial" ;
	text-indent: 20mm;	
	margin-top: 0em; 
	padding-top: 0em; 
	margin-bottom: 1em;
	padding-bottom: 0em;
	line-height:1.2;
}

font.myBold { 	
	font-weight: 700;	
/**	text-decoration: underline;*/
}



ul {	
	list-style-position:inside;
	list-style-type: disc;	
	text-indent: 25mm;	
	margin-top: 0em; 
	padding-top: 0em; 	
	padding-bottom: 0em;
	line-height:1;	
}

ul.matter {		
	margin-bottom: 1em;
}
ul.matter_margin0 {		
	margin-bottom: 0em;
}

ol{
	list-style-position:inside;
}

ol.contents {		
	font-size: 12pt; 	 
	color: black; 
	font-family: "Arial" ;
	padding-left: 10%;
}

ol.matter {	
	text-indent: 25mm;	
	margin-top: 0em; 
	padding-top: 0em; 
	margin-bottom: 1em;
	padding-bottom: 0em;
	line-height:1;
	}
	
li{
	margin-top: 0em; 
	padding-top: 0em; 
	margin-bottom: 0em;
	padding-bottom: 0em;
}
	

li.matter { 	
	line-height:1;
}
li.matterLine { 
	line-height:1.2;}
li.matterNone { 
	line-height:1.2;
	list-style-type: none;
}








